@import "../../scss/mixins.scss";

.header {
    padding-top: 20px;

    &__heading {
        @include tile;
        text-align: center;
        font-size: 32px;
        margin: 0;
        margin-bottom: 20px;
    }
}
