@import "../../scss/mixins.scss";

.custom-hue {
    @include tile;
    margin-top: 20px;
    width: 100%;
    padding: 30px 0;
    border-radius: 20px;

    @include media-800px {
        margin-top: 0;
    }

    &__tint-tile-container {
        position: relative;
        color: transparent;

        height: 30px;
        width: 100%;
        position: relative;
    }

    &__tint-tile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            height: calc(100% + 8px);
            width: calc(100% + 8px);
            z-index: 1;
        }
    }

    &__tint-tile-name {
        text-align: center;
        margin: 0;
        color: black;

        &--light {
            color: white;
        }
    }
}
