<div class="about">
    <h2 class="about__section-heading">About</h2>

    <h3 class="about__heading">What is it?</h3>
    <p class="about__paragraph">Color Modifier is an online color picker developed to learn the Angular 9 framework.</p>

    <h3 class="about__heading">What can it do?</h3>

    <p class="about__paragraph">You can use it to:</p>
    <ul class="about__list">
        <li class="about__list-element">Easily convert RGB colors to their HEX and CMYK equivalents</li>

        <li class="about__list-element">
            Find different variations of your color (shades and tints)
        </li>

        <li class="about__list-element">
            Create linears gradients (rotation supported)
        </li>
    </ul>

    <h3 class="about__heading">Can I see the code of this app?</h3>
    <p class="about__paragraph">
        <span>Sure, you can find it </span>
        <a class="about__link" href="https://github.com/DomLJ/color-modifier" alt="github repository link">here</a>
        <span>.</span>
    </p>
</div>
