@import "../../scss/colors.scss";

.rgb-slider {
    text-align: center;
    width: 80px;
    color: $primary-color;

    &__range {
        -webkit-appearance: slider-vertical;
        width: 100%;
    }

    &__number {
        border-radius: 5px;
        border: none;
        background-color: $color-very-dark;
        color: $primary-color;
        padding: 4px;
    }
}
