@import "../../scss/colors.scss";
@import "../../scss/mixins.scss";

.gradient-creator {
    background-color: #282828;
    width: 90%;
    margin: 20px auto;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 25px 0;

    @include media-800px {
        background-color: transparent;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;
        justify-content: space-around;
        box-shadow: none;
    }

    &__gradient-container {
        @include media-800px {
            background-color: #282828;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
            border-radius: 20px;
            padding-bottom: 40px;
        }
    }

    &__gradient-string {
        padding: 0 18px 25px 18px;
        margin: 0;
        text-align: center;

        @include media-800px {
            padding: 18px 18px 25px 18px;
        }
    }

    &__gradient {
        height: 200px;
        position: relative;

        @include media-800px {
            height: 66%;
        }
    }

    &__heading {
        text-align: center;
        font-size: 18px;
        text-transform: capitalize;
        height: 30px;
    }

    &__options {
        @include media-800px {
            @include tile;
            border-radius: 20px;
            padding-bottom: 20px;
        }
    }

    &__button {
        color: $primary-color;
        background-color: $color-very-dark;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 4px;

        &:hover {
            cursor: pointer;
            color: $secondary-color;
        }

        &--slider-toggle {
            font-size: 20px;
            font-weight: bold;
        }

        &--add-color {
            position: absolute;
            bottom: 4px;
            right: 4px;
            margin: 0;
        }

        &:disabled {
            cursor: default;
            color: #999999;
        }
    }

    &__angle-slider {
        text-align: center;
    }

    &__angle {
        text-align: center;
    }

    &__color-heading {
        margin-top: 22px;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    &__color-name {
        width: 170px;
        height: 100%;
        margin: 0 4px;
        vertical-align: middle;
        line-height: 30px;
    }

    &__color-preview {
        width: 52px;
        height: 100%;
        border-radius: 10px;
        margin: 0 4px;
    }

    &__slider-container {
        display: flex;
        justify-content: center;

        &--hidden {
            display: none;
        }
    }
}
