@import "../../scss/mixins.scss";

.color-creator {
    width: 90%;
    margin: 20px auto;
 
    @include media-800px {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;
        justify-content: space-around;
    }

    &__color {
        @include tile;
        margin: 0 auto;
        width: 100%;
        border-radius: 20px ;
        justify-content: center;
        align-items: center;

        @include media-800px {
            max-height: 450px;
        }
    }

    &__color-names-container {
        border-radius: 20px 20px 0 0;
        padding: 10px 0;
        width: 100%;
        color: black;

        &--light {
            color: white;
        }
    }

    &__color-name {
        margin: 5px;
        font-size: 16px;
        text-align: center;
    }

    &__slider-container {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        @include media-800px {
            max-height: 340px;
        }
    }
}
